
body {
    margin: 0;
    padding: 0;
    background-color: #549996;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    object-fit: contain;
  }
  
  .film-nav{
    position:sticky;
    top: 0;
    color: white;
  }
  h1 {
    font-family: "Geist Mono", monospace;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .film-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }
  
  .film-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .film-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .film-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .film-card p {
    margin-bottom: 5px;

  }
  .calificacion{
    display: flex;
  }
  .calificacion-color{
    color: rgb(255, 0, 0);
  }
  .release_date{ 
    text-align: center;
    padding-bottom: 10px;
  }
  

  @media (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    input[type="text"] {
      width: 100%;
    }
  
    button {
      padding: 8px 16px;
    }
  
    .film-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .film-card {
      padding: 10px;
    }
  
    .film-card h2 {
      font-size: 16px;
    }
  }



  